*{
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: black;
}

body {
    margin: 0px 15px;
}
nav {
    display:block;
    border-bottom: solid black 2px;
}

nav ul{
    padding: 15px;
    text-align: right;
}

nav h1 {
    font-size: 2em;
    text-align: left;
    padding-bottom: 5px;
}

nav li{
    padding:15px;
    display: inline;
}

a:hover {
    border-right: solid black 2px;
    border-bottom: solid black 2px;
}

#top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 35px 0px;
}
          
#About h2 {
    padding: 5px;
    border-bottom: solid black 2px;
    border-left: solid black 2px;
    margin-bottom: 15px;
} 
        
#About p {
    text-align: left;
    width: 45vw;
    margin: 10px;
}
 
#avatar {
    text-align: center;
}
#top img{
    display: block;
    padding:15px;
    border: solid black 2px;
    margin: 5px;
    max-height: 300px;
    max-width:fit-content;     
}
 


#Applications h2 {
    padding: 5px;
    border-bottom: solid black 2px;
    border-left: solid black 2px;
    margin-bottom: 15px;
}


#first {
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#first p {
    margin: 20px 10px;
    text-align: left;
    font-style: italic;
    display:block;
    width: 43%;

}

#first a{
    display: block;
    width: 50%;
    align-items: center;
}

#first img {
    padding: 5px;
    border: solid black 2px;
    width: auto;
    max-width: 100%;

}

        

#later {
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#later p {
    margin: 20px 10px;
    text-align: left;
    font-style: italic;
    display:block;

    width: 45%;

}

#later a{
    display: block;
    width: 30%;
    align-items: center;
}
                                
#later img {
    padding: 5px;
    border: solid black 2px;
    width: auto;
    max-width: 100%;

}



 h4, #Contact li {
    text-align: right;
    padding: 0px;

}
@media screen and (max-width: 768px) {
    #header {
        display: block;
        width: 100%;
        text-align: center;
    }

    #top {
        justify-content: center;
    }

    #About {
        width: 100%;
    }
    #About p {
        width: 80vw;
    }

    #first p , #first a, #later p {
        width: 100%;
    }

    #later p, #later a{
        width: 45%;
    }

    #Contact ul {
        display: flex;
        justify-content: right;
    }
    
    #Contact ul {
        display: flex;
        justify-content: right;
    }

    footer {
        margin: 3vw;
        
    }
}

@media screen and (max-width: 622px) {
    nav ul{
        text-align: center;
    }

    #top {
        justify-content: center;
    }

    .top p {
        width: 100%;
    }


    #first{
        justify-content: center;
    }

    p {
        width: 100%;
    }
               
}


@media screen and (max-width: 400px) {
    nav ul {
        padding: 10px 5px;
    }

    nav li {
        padding: 4.3vw;
    }
    #first p, #later p {
        margin: 1vw;
    }
    * {
        font-size: 3.5vw;
    }
    #top img {
        width:80vw;
    }
}