*{
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: black;
}

body {
    margin: 0px 15px;
}
nav{
    display:block;
    border-bottom: solid black 2px;

    ul{
        padding: 15px;
        text-align: right;
        h1 {
            font-size: 2em;
            text-align: left;
            padding-bottom: 5px;
        }

        li{
            padding:15px;
            display: inline;
        }
        a:hover {
            border-right: solid black 2px;
            border-bottom: solid black 2px;
        }
    }   
}

#top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 35px 0px;

    #About {
        display: block;
        width: 50%;
        max-width: 600px;
        min-width: 350px;
        text-align: left;
        padding: 5px;
          
        h2 {
            padding: 5px;
            border-bottom: solid black 2px;
            border-left: solid black 2px;
            margin-bottom: 15px;
        } 
        
        p {
            text-align: left;
        }
    }   

    #avatar img{
        display: block;
        padding:15px;
        border: solid black 2px;
        margin: 5px;
        max-height: 300px;
        max-width:fit-content;     
    }
 }

 #Applications {
        h2 {
            padding: 5px;
            border-bottom: solid black 2px;
            border-left: solid black 2px;
            margin-bottom: 15px;
        }
    #apps {

        #first {
            margin: 5px;
            padding: 5px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;

            p {
                margin: 20px;
                text-align: left;
                font-style: italic;
                display:block;
                min-width: 400px;
                width: 45%;

            }

            a{
                display: block;
                width: 50%;
                align-items: center;

                img {
                    padding: 5px;
                    border: solid black 2px;
                    width: auto;
                    max-width: 100%;

                }
            }
        }

        #later {
            margin: 5px;
            padding: 5px;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: center;

            p {
                margin: 20px;
                text-align: left;
                font-style: italic;
                display:block;
                min-width: 400px;
                width: 45%;

            }

            a{
                display: block;
                width: 30%;
                align-items: center;
                                
                img {
                    padding: 5px;
                    border: solid black 2px;
                    width: auto;
                    max-width: 100%;

                }
            }
        }



            /* a::after {
                content: "Prework Study Guide";
                color: black;
                border: solid black 2px;
                background-color: white;
                position: relative;
                bottom: 1px;
                right: 20px;

            } */

        }
    }




#mini-p img, #challenge1 img{
    display: inline;
    min-width: 100px;
    max-width: 50%;
}
#pic-buddy {
    display: flex;
    justify-content: space-around;
}
 h4, #Contact li {
    text-align: right;
    padding: 0px;
 }
.app-link:hover {
    border: solid black 5px;
}
#pic-buddy a {
    display: flex;
    justify-content: center;
}
#pic-buddy img {
    display: flex;
    justify-content: center;
}
@media screen and (max-width: 768px) {
    * , #header {
        justify-content: center;
        text-align: center;
    }

    nav ul{
        text-align: center;
    }

    #header {
        display: block;
        width: 100%;
        text-align: center;
    }

    #About {
        min-width: none;
        max-width: 350px;
        width: 100%;
        margin: auto;
    }

    #About h2{
        text-align: center;
        display: block;
        width: 100%;
    }

    #Contact ul {
        display: flex;
        justify-content: right;
    }
    
    #Contact ul {
        display: flex;
        justify-content: right;
    }
    
    footer {
    text-align: center;
    }
}

@media screen and (max-width: 622px) {
    #top {
        justify-content: center;
    }
}

@media screen and (max-width: 400px) {
    nav ul {
        padding: 10px 5px;
    }
    .shrink {
        font-size: .85em;
    }
}